<div class="meeting-info">
  
  <div class="info-container">
    <div class="info-title">Meeting Share Link</div>
    <div class="info-value">
      <span class="auto-select">tzmeet.com/{{ meetingCode }}</span>
      <button type="button" class="btn copy-code">
        <i class="bi bi-copy"></i>
      </button>
    </div>
  </div>
  <div class="info-container">
    <div class="info-title">Host</div>
    <div class="info-value">{{ host }}</div>
  </div>
  <div class="info-container">
    <div class="info-title">Meeting Code</div>
    <div class="info-value">
      <span class="auto-select">{{ meetingCode }}</span>
      <button type="button" class="btn copy-code">
        <i class="bi bi-copy"></i>
      </button>
    </div>
  </div>
  <div class="info-container">
    <div class="info-title">Duration</div>
    <div class="info-value">{{ durationText }}</div>
  </div>

  <span
    class="duration-display-info"
    data-title="{{ title }}"
    data-display="{{ display }}"
    data-duration="{{ duration }}"
    style="display: none"
  ></span>
</div>
